
<div class="container">
  <h1>{{ 'bahram website' | capital }}</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-server [lastid]="lasttaskid"></app-server>
    </div>
    <div class="col-md-8">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body active" style="margin-bottom: 2rem; margin-top: 2rem">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" class="form-control" id="search"  placeholder="Search Tasks" [(ngModel)]="keyword"/>
            </div>
            <div class="col-lg-6">
              <select name="complete" id="complete" class="form-control" [(ngModel)]="completeapp">
                <option [ngValue]="true">complete</option>
                <option [ngValue]="false">uncomplete</option>
              </select>
            </div>
          </div>
        </div>
        <table class="table table-hover " id="task-table">
          <thead>
          <tr class="row">
            <th class="col-sm-1">#</th>
            <th class="col-sm-2">Task</th>
            <th class="col-sm-6">description</th>
            <th class="col-sm-3">setting</th>
          </tr>
          </thead>
          <tbody>
          <tr  class="row" *ngFor="let task of  tasks | complet:completeapp | search:keyword">
            <td class="col-sm-1">{{ task.id }}</td>
            <td class="col-sm-2">{{ task.name }}</td>
            <td class="col-sm-6">{{ task.description }}</td>
            <td class="col-sm-3">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-xs btn-info" (click)="taskedit(task)">edit</button>
                <button type="button" class="btn btn-xs btn-danger"  (click)="remove(task)" >delete</button>
                <button type="button" class="btn btn-xs btn-success" (click)="done(task)">done</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <task></task>
    </div>
  </div>
  <hr>
  <ul>
    <li *ngFor="let a of task2">{{ a.nam }}</li>
    <li *ngIf="num.length>6">drttr</li>
  </ul>
  <input id="1" type="text" value="salam" data-sss="test">
  <button class="btn btn-danger" [disabled]="btn" >test</button>
  <tr><td [colSpan]="22">Span 2 columns</td></tr>
  <a class="table-hover" target="_blank" href="https://www.yjc.ir/">
    <img  src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" >
  </a>
</div>
<app-oddeven></app-oddeven>




















